html
  head
    title= title
  body
    h1= title
    h4= 'Routes:'
    ul
      each crag in crags
        li(class=crag.id)= crag.name
    h4= 'Problems:'
    ul
      each crag in crags
        li(class=crag.id)= crag.name
