html
  head
    title= title
  body
    h1= title
    h4= 'Routes:'
    ul
      each gym in gyms
        li(class=gym.id)= gym.name
    h4= 'Problems:'
    ul
      each gym in gyms
        li(class=gym.id)= gym.name
